.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1px;
  padding: 10px;
}

.grid-item {
  border: solid 0.5px black;
  height: 100px;
  width: 100px;
  justify-content: center;
  background-color:#ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}


@media screen and (max-width: 800px) {
   .grid-item{
    width: 70px;
    height: 70px;
   }
} 
