.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 5px;
  padding: 10px;
  .grid-item {
  border: solid 0.5px black;
  box-shadow: 5px 5px 5px 1px  rgba(215, 213, 213, 0.692);
  height: 80px;
  width: 80px;
  justify-content: center;
  background-color:#222831;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  .img{
    width: 80px;
    height: 80px;
  }
}
}




@media screen and (max-width: 800px) {
  .grid-container{
    .grid-item{
    width: 60px;
    height: 60px;
    .img{
      width: 60px;
      height: 60px;
    }
   }
  }
   
} 
